/* TABLE OF CONTENTS

1) Reset
2) Common
3) Layout
* */

/* 1 Reset
------------------------------*/
body, h1, h2, h3, h4, ul, p {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* 2 Common
------------------------------*/
body {
  font-family: Arial,'Hiragino Sans GB',md-hsgb,'Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
}

a {
  color: #333;
  text-decoration: none;
}

.clearfix:before {
  content: " ";
  display: block;
  clear: both;
}

.hide {
  display: none;
}

.positive {
  color: #2196f3;
}

.btn {
  padding: 10px 22px;
  font-size: 14px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
}

.btn-default {
  color: #666;
  background-color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #2196f3;
  border-color: #2196f3;
}

.title {
  line-height: 30px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.timeline-list {
  position: relative;
  font-size: 14px;
}

.timeline {
  padding-bottom: 20px;
  overflow: hidden;
}

.timeline .time {
  display: inline-block;
  float: left;
  padding: 0 30px 0 160px;
  font-size: 20px;
}

.timeline .circle {
  position: relative;
  z-index: 1;
  float: left;
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
  border: 3px solid #2196f3;
  border-radius: 50%;
}

.timeline .con {
  display: inline-block;
  float: left;
  padding-left: 30px;
}

.timeline .con strong {
  font-size: 18px;
  font-weight: 400;
}

.timeline .con a .more {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-top: 1px solid #2196f3;
  border-right: 1px solid #2196f3;
  transform: rotate(45deg);
  transform-origin: right bottom;
}

.timeline-list .line {
  position: absolute;
  top: 0;
  left: 291px;
  width: 4px;
  height: 100%;
  background-color: #2196f3;
}

.img-box {
  position: relative;
  display: inline-block;
  margin: 0 8px;
}

.img-box .img-box-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0081ea;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in .1s;
  transition: opacity .5s ease-in .1s;
}

.img-box:hover .img-box-bg {
  opacity: .9;
}

.img-box .img-con {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 18px;
  transform: translateY(345px);
  transition: transform .4s ease-in .1s;
}

.img-box .img-con .title {
  padding: 100px 0 50px;
  font-size: 30px;
}

.img-box:hover .img-con {
  transform: translateY(0);
}

/* 3 Layout
------------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 44px;
  padding: 16px 0;
  background-color: #fff;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.page1 {
  width: 100%;
  height: 515px;
}

.page2 {
  padding: 80px 0 115px;
  background-color: #fff;
}

.intro {
  max-width: 800px;
  margin: 0 auto;
}

.page3 {
  padding: 80px 0 65px;
  background-color: #f5f5f5;
}

.page4 {
  padding: 130px 0;
  background-color: #fff;
}

.page4 .container {
  position: relative;
  left: 50%;
  width: 1300px;
  height: 345px;
  margin: 0 auto;
  margin-left: -650px;
  overflow: hidden;
}

.page5 {
  padding: 130px 80px;
  background-color: #f5f5f5;
}

.page6 {
  padding: 115px 0;
  background-color: #fff;
}

.page7 {
  padding: 90px 0;
}

.footer .footer-link {
  padding: 20px 0;
}

/* Team
------------------------------*/
.header {
  line-height: 44px;
}

.header:before {
  content: " ";
  display: table;
}

.header .logo {
  float: left;
  display: inline-block;
  vertical-align: middle;
}

.header .logo a img {
  vertical-align: middle;
}

.header .header-action {
  float: right;
}

.header .header-action a:first-child {
  margin: 0 12px 0 20px;
}

.header .nav {
  float: right;
  font-size: 14px;
  font-weight: 400;
}

.header .nav li {
  display: inline-block;
}

.header .nav li a {
  padding: 20px;
}

.nav-box {
  position: fixed;
  top: 76px;
  width: 100%;
  background-color: #2196f3;
  z-index: 2;
}

.nav-box ul {
  text-align: center;
}

.nav-box ul li {
  display: inline-block;
}

.nav-box ul li a {
  display: block;
  padding: 10px;
  color: #fff;
  opacity: .7;
}

.nav-box ul li a:hover,
.nav-box ul .current a {
  opacity: 1;
}

.page1 {
  text-align: center;
}

.page1 .page1-bg {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url(../img/us1bg.jpg) no-repeat center top;
}

.page1 .title {
  padding-top: 250px;
  font-size: 40px;
  color: #fff;
}

.page1 .for-next {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: 80px;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
  animation: arrowAnimation 1s linear 0s infinite alternate;
  transform: rotate(45deg);
  cursor: pointer;
}

@-webkit-keyframes arrowAnimation {
  from {
    -webkit-transform: translate(0,0) rotate(45deg);
    transform: translate(0,0) rotate(45deg)
  }

  to {
    -webkit-transform: translate(0,20px) rotate(45deg);
    transform: translate(0,20px) rotate(45deg)
  }
}

@keyframes arrowAnimation {
  from {
    -webkit-transform: translate(0,0) rotate(45deg);
    transform: translate(0,0) rotate(45deg)
  }

  to {
    -webkit-transform: translate(0,20px) rotate(45deg);
    transform: translate(0,20px) rotate(45deg)
  }
}

.page2 .intro p,
.page7 .intro p {
  margin-top: 35px;
  line-height: 28px;
  font-size: 15px;
}

.page3 .intro .title,
.page5 .intro .title {
  padding-bottom: 50px;
}

.page4 {
  text-align: center;
}

.honor {
  text-align: center;
}

.honor ul {
  margin-bottom: 30px;
  border-top: 1px solid #ccc;
}

.honor ul .honor-title {
  width: 100px;
  margin: -18px auto 0 auto;
  color: #2196f3;
  font-size: 24px;
  background-color: #f5f5f5;
}

.honor ul .honor-title.honor-title-lg {
  width: 160px;
}

.honor ul li {
  width: 390px;
  display: inline-block;
}

.honor ul li a {
  display: block;
  width: 270px;
  margin: 0 auto;
  padding: 20px 15px;
  font-size: 16px;
  background-color: #e0e0e0;
}

.page7 {
  background: url(../img/page7.jpg) no-repeat;
}
